@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: white;
    padding: 6px 81px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.fa-bars:before, .fa-navicon:before {
    content: "\f0c9";
    margin-right: 23px;
    font-size: 28px;
    display: none;
}

.logo {
    font-family: 'Abril Fatface', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.nav-sec-1 {
    display: flex;
    align-items: center;
    margin: 0px 16px
}

.searchbtnimg{
    display: none;
}

.nav-sec-1 ul {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

.nav-sec-1 ul li a {
    text-decoration: none;
    list-style: none;
    margin: 0 20px;
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.nav-sec-2 {
    display: flex;
    align-items: center;
}

.util {
    margin: 0 10px;
    font-size: 18px;
}

.utilimg {
    width: 1.8rem;
}

.searchbar {
    width: 25rem;
    border-radius: 20px;
    height: 2.5rem;
    background-color: whitesmoke;
    padding: 15px 14px;
    border: none;
}


/* section1 */
.sec-1 {
    margin: 0px;
    width: 100%;
    padding: 6% 0;
    height: 410px;
    margin-top: 70px; /* Add this line to prevent content from being hidden behind the navbar */
    background-image: url("assets/1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    width: 50%;
    margin-left: 5rem;
    /* margin-top: 3.5rem; */
}

.content h2 {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin: auto;
}

.shop-btn {
    padding: 15px 35px;
    border-radius: 30px;
    border: none;
    background-color: black;
    color: white;
    margin: 15px auto;
    font-size: 15px;
    cursor: pointer;
}

.shop-btn:hover {
    scale: 1.02;
    transition: 0.2s ease-in-out;
}

.counting-numbers{
    display: flex;
    align-items: center;
}

.count{
    text-align: center;
    font-size: 1.9rem;
    font-weight: 800;
}

.vl {
    border-left: 1px solid #6e6e6e;
    height: 54px;
    margin: 0 20px;
  }

/* sec-2 */
.sec-2{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.sec-2 h3 {
    font-size: 34px;
    font-weight: 800;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.cloth-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cloth {
    width: 16rem;
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
}

.cloth img {
    border-radius: 10px;
    height: 16rem;
}

.cloth-name {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 5px;
}

.rating-box, .cost-box {
    display: flex;
    margin: 0px 7px;
}

.checked {
    color: orange;
}

.rating-star, .rating {
    margin: 0px;
}

.rating {
    margin-left: 8px;
}

.discount-cost, .actual-cost {
    margin: 10px 0px;
    font-size: 19px;
    font-weight: 600;
}

.actual-cost {
    text-decoration: line-through;
    margin-left: 20px;
}

.viewall-btn{
    padding: 8px 32px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: white;
    color: black;
    margin: 15px auto;
    font-size: 15px;
    cursor: pointer;
}
hr{
    width: 80%;
    color: black;
    margin: 20px auto;
}

/* sec-4 */
.sec-4{
    width: 100%;
    margin: 3rem auto;
}
.category-container{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f0f1;
    padding: 5px;
    border-radius: 10px;
    box-shadow: #6e6e6e 0 0 2px 0;
}

.browse{
    font-size: 32px;
    font-weight: 900;
}

.category-name{
    font-size: 30px;
    font-weight: 600;
    margin: 20px 15px;
}

.category-box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-box{
    margin: 15px;
    border-radius: 10px;
    cursor: pointer;
}

#casual{
    width: 18rem;
    height: 12rem;
    background-image: url("assets/casual.png");
    background-position: center;
    background-repeat: no-repeat;
}
#formal{
    width: 30rem;
    height: 12rem;
    background-image: url("assets/formal.png");
    background-position: center;
    background-repeat: no-repeat;
}
#party{
    width: 30rem;
    height: 12rem;
    background-image: url("assets/party.png");
    background-position: center;
    background-repeat: no-repeat;
}
#gym{
    width: 18rem;
    height: 12rem;
    background-image: url("assets/gym.png");
    background-position: center;
    background-repeat: no-repeat;
}



/* footer */
footer{
    display: flex;
    flex-direction: column;
}

footer .newsletter-container{
    display: flex;
    justify-content: center;
}

.newsletter-box{
    width: 70%;
    border: 2px solid;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
    border-radius: 20px;
    background-color: black;
    color: white;
    height: 7.3rem;
    position: absolute;
    top: -75px;
}

.newsletter-text{
    width: 50%;
    font-size: 1.8rem;
    font-weight: 800;
    margin: 5px;
}

.email-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-input{
    width: 21em;
    font-size: 16px;
    padding: 5px 10px;
    height: 1.9em;
    border-radius: 20px;
    color: black;
    margin: 10px 0px;
    background-color: white;
    border: none;

}

.email-box button{
    height: 2.6em;
    width: 22em;
    font-weight: 600;
    cursor: pointer;
}




/* footer-container */

.footer-container{
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    position: relative;
    bottom: -100px;

}

.footer-sec-1{
    display: flex;
    justify-content: space-around;
    padding: 78px 38px 0px 38px;
    margin: 10px 10px;
}

.footer-logo{
    margin: 0;
}

.footer-sec-1 ul{
    padding: 0;
}
.footer-sec-1 ul li{
    display: flex;
    /* margin: 10px 0px; */
    list-style: none;
}

.socialmedia-img{
    display: flex;
    padding-left: 0;
    margin: 4px 20px 5px 0px;
}

.socialmedia-img li img{
    margin: 2px 12px 2px 0px;
    width: 2.5rem;
}

.head{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}
.box{
    width: 25%;
    margin: 5px 20px;
}
.box ul li{
    font-size: 17px;
    margin: 15px 0px;
    color: #6e6e6e;
}
.footer-description{
    margin: 20px 0px;
    color: #6e6e6e;
    font-size: 17px;
}
.footer-sec-2{
    padding: 2px 45px 2px 45px;
    margin: 1px 10px;
    display: flex;
    justify-content: space-between;
}

.hr-footer{
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.footer-pay-gateway{
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0 5px;
    padding: 0;
}
.footer-pay-gateway li{
    margin: 2px 0px;
}
.copyright-text{
    font-size: 14px;
    color: #6e6e6e;
}



/* media queries */
@media only screen and (max-width: 1135px){
    .searchbar{
        width: 22rem;
    }
}


@media only screen and (max-width: 1090px){
    .navbar{
        padding: 5px;
    }
    .searchbar{
        width: 18rem;
    }
    .content h2{
        font-size: 2.4rem;
    }
    .shop-btn {
        padding: 13px 28px;
    }
    .count{
        font-size: 1.5rem;
    }
    .cloth{
        width: 14rem;
        margin: 0px 15px
    }
    .cloth img{
        height: 14rem;
    }
    #formal, #party{
        width: 18rem;
    }
    .category-name{
        font-size: 27px;
    }
    .browse{
        font-size: 29px;
    }
    .newsletter-text{
        font-size: 1.5rem;
    }
    .email-input{
        width: 18em;
    }
    .email-box button{
        width: 19em;
    }
}
@media only screen and (max-width:935px){
    .logo{
        font-size: 27px;
    }
    
    .nav-sec-1 ul li a {
        margin: 0 18px;
        font-size: 16px;
    }
    .utilimg {
        width: 1.8rem;
    }   
    .searchbar {
        width: 16rem;
    }
}

@media only screen and (max-width:860px) {
    ul.nav-links{
        display: none;
    }
    .searchbar{
        width: 20rem;
    }
    .fa-bars:before, .fa-navicon:before {
        display: block;
    }
    .utilimg{
        width: 1.8rem;
    }
    .shop-btn {
        padding: 10px 24px;
    }
    .content h2{
        font-size: 2.2rem;
    }
    .footer-container {
        bottom: -197px;
    }
    .newsletter-box{
        top: -197px;
    }
    .newsletter-text, .email-box{
        width: 100%;
    }

    /* expanded-navbar */
    .navbar-expand{
        height: 100vh;
        width: 30vw;
        justify-content: center;
        align-items: start;
        padding-top: 17px;
        
    }

    .fa-bars-expand:before, .fa-navicon:before {
        margin: 0;
    }

    .nav-sec-1-expand{
        flex-direction: column;
    }
    
    ul.nav-links-expand{
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
    .nav-sec-2-expand{
        display: none;
    }

    .nav-links-expand li{
        margin-bottom: 30px;
    }

    .nav-sec-1-expand ul li a {
        font-size: 20px;
        border-bottom: 1px solid;
    }
    .newsletter-box{
        flex-direction: column;
        height: auto;
    }
    .newsletter-text{
        text-align: center;
    }
    #formal, #party, #gym, #casual{
        width: 13rem;
    }
}

@media only screen and (max-width:695px){
    .searchbtnimg{
        display: flex;
    }
    .content h2{
        font-size: 1.7rem;
    }
    .searchbar{
        display: none;
    }
    .content{
        margin-left: 2rem;
        width: 60%;
    }
    .showsearchbar{
        display: inline;
        width: 20rem;
    }
    .remove{
        display: none;
    }
}

@media only screen and (max-width: 550px){
    .searchbar{
        width: 16rem;
    }
    .utilimg {
        width: 1.7rem;
    }
    
    .sec-2 h3{
        font-size: 28px;
    }
    .browse{
        font-size: 27px;
        margin: 5px;
        text-align: center;
    }
    .footer-sec-1{
        flex-wrap: wrap;
    }
    .cloth{
        width: 12rem;
    }
    .cloth img{
        height: 12rem;
    }
    .footer-sec-2{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width:490px){
    .logo{
        font-size: 23px;
    }
    .fa-bars:before{
        margin-right: 14px;
        font-size: 23px;
    }
    .description{
        font-size: 14px;
    }
    .count {
        font-size: 22px;
        margin: 3px 1px;
    }
    .count-name{
        font-size: 15px;
    }
    .counting-numbers {
        margin: 20px 0px;
    }
    .searchbar {
        width: 48vw;
    }
    .email-input{
        width: 70%;
        font-size: 14px;
    }
    .email-box button {
        width: 77%;
    }
    .newsletter-text{
        font-size: 1.2rem;
    }
    .nav-sec-1-expand ul li a {
        font-size: 17px;
    }
}

@media only screen and (max-width:441px){
    .cloth{
        width: 9rem;
    }
    .cloth img{
        height: 9rem;
    }
}

@media only screen and (max-width:395px){
    .logo{
        font-size: 20px;
    }
    .nav-sec-2{
        margin: 0 5px;
    }
    .fa-bars:before {
        margin-right: 11px;
        font-size: 22px;
    }
    .count-name {
        font-size: 12px;
    }
    .count {
        font-size: 20px;
    }
    .content {
        width: 65%;
    }
    .searchbar{
        height: 35px;
    }
    
}